<!--
  arbe_phoenix_radar_driver Launch 
-->
<launch>
	<node name="arbe_pointcloud_receiver" pkg="arbe_phoenix_radar_driver" type="arbe_pointcloud_receiver" output="screen" required="false">
	</node>

	<node name="dsp_node" pkg="arbe_phoenix_radar_driver" type="dsp_node" output="screen" >
		<param name="moment_length_in_m" value="3.75" />
	</node>

	<node name="arbe_classification" pkg="arbe_phoenix_radar_driver" type="arbe_classification_node" output="screen">
	<param name="model_path" value="/home/arbe/arbeROS/src/arbe_phoenix_radar_driver/arbe_gui/addons/model_w_msk.pt" />
	</node>

	<node name="free_space" pkg="arbe_phoenix_radar_driver" type="free_space_node" output="screen">
	</node>

	####  for GDB launch-prefix="gdb -ex run --args" ####
	<node name="arbe_gui" pkg="arbe_phoenix_radar_driver" type="arbe_gui" output="screen" required="true">
		<param name="AntennaHight" value="1.0" />
		<param name="Mode" value = "4d" />
		<param name="ColoringType" value = "Elevation" />
		<param name="RangeType" value = "Mid" />
		<param name="Threshold3d" value="25" />
		<param name="Threshold4d" value="25" />
		<param name="DynamicAzimuth" value="15" />
		<param name="DynamicElevation" value="18" />
		<param name="MinDoppler" value="-70" />
		<param name="MaxDoppler" value="70" />
		<param name="RecordFileName" value="arbe-rosbag" />
	</node>


</launch>
