<!--
  arbe_phoenix_radar_driver Launch 
-->
<launch>

  <arg name="n_radars" default="1" />

	<node name="arbe_classification" pkg="arbe_phoenix_radar_driver" type="arbe_classification_node" output="screen">
		<param name="model_path" value="$(find arbe_phoenix_radar_driver)/addons/model_w_msk.pt" />
		<param name="n_radars" value="$(arg n_radars)" />
	</node>

</launch>
