<!--
  arbe_phoenix_radar_driver Launch 
-->
<launch>

  <arg name="n_radars" default="1" />
  <arg name="yaw_in_degrees" default="0"/>
  <arg name="this_radar" default="0"/>
  <arg name="moment_length_in_m" default="3.75"/>
  <arg name="pitch_in_degrees" default="0"/>
  <arg name="Radar_Z_Offset" default="0.8"/>
  <arg name="Radar_Y_Offset" default="0"/>

	<node name="dsp_node_$(arg this_radar)" pkg="arbe_phoenix_radar_driver" type="dsp_node" output="screen" >
		<param name="moment_length_in_m" value="$(arg moment_length_in_m)" />
		<param name="n_radars" value="$(arg n_radars)" />
		<param name="this_radar" value="$(arg this_radar)" />
		<param name="yaw_in_degrees" value="$(arg yaw_in_degrees)" />
	</node>

	<node name="free_space_node_$(arg this_radar)" pkg="arbe_phoenix_radar_driver" type="free_space_node" output="screen" required="false">
		<param name="n_radars" value="$(arg n_radars)" />
		<param name="this_radar" value="$(arg this_radar)" />
		<param name="yaw_in_degrees" value="$(arg yaw_in_degrees)" />
		<param name="pitch_in_degrees" value="$(arg pitch_in_degrees)" />
		<param name="Radar_Z_Offset" value="$(arg Radar_Z_Offset)" />
		<param name="Radar_Y_Offset" value="$(arg Radar_Y_Offset)" />
	</node>

</launch>
