<!--
  radar_nodes Launch 
-->
<launch>

  <arg name="this_radar" default="0"/>
  <arg name="yaw_in_degrees" default="0"/>
  <arg name="pitch_in_degrees" default="0"/>
  <arg name="Radar_X_Offset" default="0"/>
  <arg name="Radar_Y_Offset" default="0"/>
  <arg name="Radar_Z_Offset" default="0"/>
  <arg name="Radar_IP" default="10.20.30.40"/>
  <arg name="Ctrl_Port" default="6001"/>
  <arg name="Data_Port" default="6003"/>
  <arg name="Logs_Port" default="6010"/>
  <arg name="Radar_Name" default="Front"/>
  <arg name="Radar_base_freq" default="-1"/>
  <arg name="console_level" default="2"/>

	####  For Xterm GDB add: launch-prefix="xterm -e gdb --args"/> ####
	<node ns="radar$(arg this_radar)_pointcloud_receiver" name="arbe_pointcloud_receiver" pkg="arbe_phoenix_radar_driver" type="arbe_pointcloud_receiver" output="screen" required="false">
		<param name="~Radar_ID" value = "$(arg this_radar)" />
		<param name="~Radar_Yaw_Angle" value = "$(arg yaw_in_degrees)" />
		<param name="~Radar_Pitch_Angle" value = "$(arg pitch_in_degrees)" />
		<param name="~Radar_base_freq" value = "$(arg Radar_base_freq)" />
		<param name="~Radar_X_Offset" value = "$(arg Radar_X_Offset)" />
		<param name="~Radar_Y_Offset" value = "$(arg Radar_Y_Offset)" />
		<param name="~Radar_Z_Offset" value = "$(arg Radar_Z_Offset)" />
		<param name="~Radar_IP" value = "$(arg Radar_IP)" />
		<param name="~Ctrl_Port" value = "$(arg Ctrl_Port)" />
		<param name="~Data_Port" value = "$(arg Data_Port)" />
		<param name="~Logs_Port" value = "$(arg Logs_Port)" />
		<param name="~console_level" value = "$(arg console_level)" />
	</node>

	<node ns="radar$(arg this_radar)_visualization_engine" name="arbe_visualization_engine" pkg="arbe_phoenix_radar_driver" type="arbe_visualization_engine" output="screen" required="false">
		<param name="~Radar_ID" value = "$(arg this_radar)" />
		<param name="~Radar_Yaw_Angle" value = "$(arg yaw_in_degrees)" />
		<param name="~Radar_Offset_x" value = "$(arg Radar_X_Offset)" />
		<param name="~Radar_Offset_y" value = "$(arg Radar_Y_Offset)" />
		<param name="~Radar_Offset_z" value = "$(arg Radar_Z_Offset)" />
		<param name="~Antenna_Name" value = "$(arg Radar_Name)" />
	</node>


</launch>
