<!--
  radar_nodes Launch 
-->
<launch>

	<node ns="radar1_pointcloud_receiver" name="arbe_pointcloud_receiver" pkg="arbe_phoenix_radar_driver" type="arbe_pointcloud_receiver" output="screen" required="false">
		<param name="~Radar_ID" value = "0" />
		<param name="~Radar_Yaw_Angle" value = "0" />
		<param name="~Radar_Pitch_Angle" value = "0" />
		<param name="~Radar_X_Offset" value = "0" />
		<param name="~Radar_Y_Offset" value = "0" />
		<param name="~Radar_Z_Offset" value = "0" />
		<param name="~Radar_IP" value = "10.20.30.40" />
		<param name="~Ctrl_Port" value = "6001" />
		<param name="~Data_Port" value = "6003" />
		<param name="~Logs_Port" value = "6010" />
	</node>

	<node ns="radar2_pointcloud_receiver" name="arbe_pointcloud_receiver" pkg="arbe_phoenix_radar_driver" type="arbe_pointcloud_receiver" output="screen" required="false">
		<param name="~Radar_ID" value = "1" />
		<param name="~Radar_Yaw_Angle" value = "180" />
		<param name="~Radar_Pitch_Angle" value = "0" />
		<param name="~Radar_X_Offset" value = "0" />
		<param name="~Radar_Y_Offset" value = "0" />
		<param name="~Radar_Z_Offset" value = "0" />
		<param name="~Radar_IP" value = "20.20.30.40" />
		<param name="~Ctrl_Port" value = "6002" />
		<param name="~Data_Port" value = "6004" />
		<param name="~Logs_Port" value = "6011" />
	</node>

	<node ns="radar1_visualization_engine" name="arbe_visualization_engine" pkg="arbe_phoenix_radar_driver" type="arbe_visualization_engine" output="screen" required="false">
		<param name="~Radar_ID" value = "0" />
		<param name="~Radar_Yaw_Angle" value = "0" />
		<param name="~Radar_Offset_x" value = "0" />
		<param name="~Radar_Offset_y" value = "3.75" />
		<param name="~Radar_Offset_z" value = "0.8" />
	</node>

	<node ns="radar2_visualization_engine" name="arbe_visualization_engine" pkg="arbe_phoenix_radar_driver" type="arbe_visualization_engine" output="screen" required="false">
		<param name="~Radar_ID" value = "1" />
		<param name="~Radar_Yaw_Angle" value = "180" />
		<param name="~Radar_Offset_x" value = "0" />
		<param name="~Radar_Offset_y" value = "-1.0" />
		<param name="~Radar_Offset_z" value = "1.2" />
	</node>

</launch>
