<!--
  arbe_phoenix_radar_driver Launch 
-->
<launch>
	####  For GDB add: launch-prefix="gdb -ex run --args" ####
	<node name="lightning_gui" pkg="autox_ui" type="lightning_gui" output="screen" required="true">
		<param name="MotorItem0" value = "速度" />
		<param name="MotorItem1" value = "角度" />
		<param name="MotorItem2" value = "speed P" />
		<param name="MotorItem3" value = "speed I" />
		<param name="MotorItem4" value = "IQ" />
		<param name="MotorItem5" value = "ID" />
		<param name="MotorItem6" value = "IQ tar" />
		<param name="MotorItem7" value = "ID tar" />
	</node>
	<node name="lightning_server" pkg="autox_ui" type="lightning_server" output="screen" required="true">
	</node>
</launch>
