[Desktop Entry]
Encoding=UTF-8
Name=flidar_ui
Icon=/home/encheng/code_ui/ui/ui/flidar_ui.icon
Exec=bash /home/encheng/code_ui/ui/ui/flidar_ui.boot
Type=Application
Terminal=true
StartupNotify=true
StartupWMClass=lightning_gui
SingleMainWindow=true
Actions=without ping;

[Desktop Action without ping]
Name=flidar_ui without ping
Exec=bash /home/encheng/code_ui/ui/ui/flidar_ui.boot noping
